# .gitignore (in the root of your Carbon-Credit repository)

# General ignores
.DS_Store
.env

# Python specific ignores
*.pyc
__pycache__/

# Docker specific ignores
*.log

# Ignore generated data files within the carbon_backend project
# This now targets the data folder inside 'carbon_backend'
carbon_backend/data/
carbon_backend/carbon_project.db